{% extends 'base.html'  %}
{%block h1%} Register{%endblock%}
{%block content%} 
<h1 class="display 1 justify-content-center"> Edit Feedback</h1>
<p class="lead"> Edit your feedback below!</p>
<div class="container">
    <form>
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        
        <p>
        {{field.label}}
        {{field (class="form-control")}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}

        </p>
        {% endfor %}

    <button type="submit" class="btn btn-outline-success" formaction="/feedback/{{feedback.id}}/edit" formmethod="POST">Edit!</button>

    </form>
</div>


{% endblock %}