{% extends 'base.html'  %}
{%block h1%} Secret Page{%endblock%}
{%block content%} 
<h1>Welcome to {{user.username}}'s Page</h1>

<div class="card my-4">
    <div class="card-body">
        <h3>About:</h3>
        <h5 class="card-title text">Username: <b>{{user.username}}</b></h5>
        <h5 class="card-title text">Email: <b>{{user.email}}</b></h5>
        <h5 class="card-title text">FirstName: <b>{{user.first_name}}</b></h5>
        <h5 class="card-title text">LastNaem: <b>{{user.last_name}}</b></h5>
        <form >
            <button class="btn btn-small btn-danger" formaction="/users/{{user.username}}/delete" formmethod="POST"><i class="fas fa-trash"></i></button>
        </form>
    </div>
</div>

<div>
    <div>
        <h1>Add feedback!</h1>
        <p><a href="/users/{{user.username}}/feedback/add">add another</a></p>
        {% for feedback in user_feedback%}
        <form>
            <p>{{feedback.title}}
            <a href="/feedback/{{feedback.id}}/edit">edit</a>
            <button class="btn btn-small btn-danger" formaction="/feedback/{{feedback.id}}/delete" formmethod="POST"><i class="fas fa-trash"></i></button>
            </p>
        </form>
        {%endfor%}
    </div>
</div>

{% endblock %}